@page
@model asp_presentacion.Pages.Ventanas.FacturasModel
@{
    ViewData["Titulo"] = "Facturas";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Facturas</h3>
            </div>
            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Num_Factura" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IVA" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Total" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Fecha" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Cliente" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Metodo_De_Pago" />
               
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Factura</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Numero de Factura
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNum_Factura"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Num_Factura" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                IVA
                            </label>
                            <div class="col-lg-6">
                                <input id="nmIVA"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.IVA" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Total
                            </label>
                            <div class="col-lg-6">
                                <input id="nmTotal"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Total" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Fecha
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFecha"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Fecha" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Cliente
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCliente"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Cliente" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Metodo de pago
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMetodo_De_Pago"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Metodo_De_Pago" />
                            </div>
                        </div>
                    </div>
                </div>
            }
           
            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Num_Factura
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input id="flNum_Factura"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Num_Factura"
                       placeholder="Número de Factura" />
                <br />


                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Número de Factura
                            </th>
                            <th>
                                IVA
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Metodo de pago
                            </th>
                            <th class="cl_actions">
                                Acción
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Num_Factura
                                    </td>
                                    <td>
                                        @elemento.IVA
                                    </td>
                                    <td>
                                        @elemento.Total
                                    </td>
                                    <td>
                                        @elemento.Fecha?.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @elemento.Cliente
                                    </td>
                                    <td>
                                        @elemento.Metodo_De_Pago
                                    </td>
                                    <td>
                                        <input type="submit"
                                               value="Modificar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>

            }
        </form>
    </div>
</center>